/*@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  --background: #889eff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  cursor: none !important;
}

body {
  background: var(--background);
  background-color: rgb(241, 239, 235);
  color: var(--foreground);
  font-family: 'Migra', sans-serif;
}

.ibm-plex-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}

@keyframes bounceUp {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-bounceUp {
  animation: bounceUp 0.6s ease-out;
}
